body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url('https://imgur.com/QrItzPY.png');
}

.App {
  text-align: center;
  font-family: Courier New;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

/* 
@media (prefers-reduced-motion : no-preference) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
} */

/* .App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
} */
button {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-style: oblique;
}

.App-link {
  color: #61dafb;
}

.login-form {
  background-color: #3C1B7A;
  width: 400px;
  height: 150px;
  left: 50%;
  margin: -40px 0 0 -210px;
  padding: 10px;
  position: absolute;
  top: 50%;
  border-radius: 10px;
  border-style: groove;
}

.input-container {
  padding: 15px;
  color: aliceblue;
}

.navigation-btn {
  background-color: #2FC18C;
  border: 0 solid #E5E7EB;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  color: #E5E7EB;
}

.navigation-btn:hover {
  cursor: pointer;
  background-color: black;
}

.game-header{
  background: #FFFFFF;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.gravatar-foto{
  border-radius: 100%;
  border: 1px solid #3C1B7A;
}
.category {
  background: #F9BA18;
  color: #FFFFFF;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.quest-container {
  background: #FFFFFF;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
  width: 60%;
  margin: auto;
}

.scope-container {
  display: flex;
  align-items: center;
  margin: auto;
}